<h1 style="text-align: center; border-top: 2px solid #ccc; padding-top: 10px;">Edit Photo</h1>
<div style="text-align: center;">
  <%= link_to "Back to Project", project_path %>
</div>

<%= render "form", photo: @photo %>
